@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
  margin-top: 80px;
  .profiles-page {
    display: flex;
    h1 {
      font-size: 24px;
      font-weight: 300;
      margin: 24px 0px 24px 16px;
    }
    .profiles {
      background-color: #fff;
      padding: 16px;
      color: #000;
      ul {
        list-style-type: none;
        padding: 0px;
      }
      li {
        border-top: 1px solid #e1e1e1;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        font-family: Inter, sans-serif;
        .image-wrapper {
          height: 300px;
          width: 300px;
          background-color: #f7f7f8;
          border-radius: 12px;
          margin-right: 16px;
        }
        a {
          color: #000;
          text-decoration: none;
          font-weight: 300;
        }
        p {
          color: #000;
        }
        h2 {
          font-size: 24px;
          margin: 24px 0px 16px 0px;
        }
      }
    }
    .map {
      background-color: #f7f7f8;
      position: sticky;
      height: 92.5vh;
      top: 80px;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}

.typed-cursor{
  display:none;
}

.image-wrapper {
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  font-weight: 300;
  font-size: 14.4px;
  width: 600px;
  h2 {
    font-size: 18px;
    font-weight: 300;
    font-family: Inter, sans-serif;
  }
  svg {
    margin: 0px 8px;
    color: #ff385c;
  }
  button {
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #ff385c;
    color:  #ff385c;
    font-size: 16px;
    padding: 8px 16px;
    margin: 24px 0px;
  }
  button a {
    color:  #ff385c !important;
  }
  .rating {
    font-size: 18px;
  }
}

.mapboxgl-popup-content {
  padding: 0px !important;
  border-radius: 12px !important;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px !important;
  font-family: Inter, sans-serif !important;
  font-weight: 300 !important;
}

#info-window {
  background-color: white;
  font-size: 14.4px;
  font-family: Inter, sans-serif;
  overflow: hidden;
  padding: 0px;
  border-radius: 12px !important;
  font-family: Inter, sans-serif !important;
  font-weight: 300 !important;
  img {
    width: auto;
    height: 180px;
    object-fit: cover;
    background-size: cover;
  }
  .info-window-botton-section {
    padding: 16px;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    margin: 0px;
    border-radius: 12px !important;
    h2 {
      font-family: Inter, sans-serif !important;
      font-weight: 300 !important;
      font-size: 18px;
    }
    svg {
      margin: 0px 8px;
      color: #ff385c;
    }
  }
}
