<div class="profiles-page">
  <div class="profiles  col-12 col-lg-7">
  <h1>Profiles in Hoxton</h1>
    <ul>
      <% @profiles.each do |profile| %>
      <li>
        <div class="image-wrapper">
          <img src="<%= profile.picture %>" alt="">
        </div>
        <div class="profile-details">
          <h2><%= link_to profile.first_name.capitalize, profile_path(profile) %></h2>
          <p><%= profile.location.capitalize %></p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="map d-none d-lg-block col-md-5">
    Map
  </div>
</div>
