<nav>
  <div class="left-section">
    <span id="logo">Buddy Finder</span>
  </div>
  <div class="right-section">
    <div class="sign-up-btn d-none d-sm-block">Sign up</div>
    <div class="login-btn">Log in</div>
   <%= link_to "All profiles", profiles_path, class: "login-btn" %>

  </div>
</nav>
