<nav>
  <div class="left-section">
    <span id="logo">Buddy Finder</span>
  </div>
  <div class="right-section">
    <%= link_to "All profiles", profiles_path, class: "login-btn" %>
    <% if current_user%>
      <%= link_to "Log out", destroy_user_session_path, class: "login-btn" %>
    <% else %>
    <%= link_to "Sign up", new_user_registration_path, class: "sign-up-btn d-none d-sm-block" %>
    <%= link_to "Sign in", new_user_session_path, class: "login-btn" %>
    <%end%>
  </div>
</nav>
