<div class="banner">
  <div class="banner-fade">
    <h1 id="banner-typed-text"></h1>
    <p>The better way to make friends</p>
    <button>
      <%= link_to "Browse buddies", profiles_path %>
    </button>
  </div>
</div>
<section class="home-cards">
<h2>Lonely buddies</h2>
  <table>
    <tr>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/v-lqb3m4U_Jb--leo.png?h=360&w=300&q=100" alt="">
        </div>
        Jordan Belfort
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/4nEUBFeVG_avatar--HPX4iUtK.jpg?h=360&w=300&q=100" alt="">
        </div>
        Tom Felton
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/lKiYhi9ZM_avatar-hsuBQ9_51.jpg?h=360&w=300&q=100" alt="">
        </div>
        Paul Chuckle
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/7_mq7IBFC_avatar-i3Hi5yARw.jpg?h=360&w=300&q=100" alt="">
        </div>
        DJ Steves
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/NMpRrXwfw_avatar-yoj9Dv_-D.jpg?h=360&w=300&q=100" alt="">
        </div>
        Basil Brush
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/CQyiQ7_0x_avatar-_p_dlGH-z.jpg?h=360&w=300&q=100" alt="">
        </div>
        Tim Wannacoat
      </td>
    </tr>
  </table>
</section>
<section class="home-cards">
<h2>Loveable buddies</h2>
  <table>
    <tr>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/Cm4ZUPG3l_avatar-kAu4gnnsE.jpg?h=360&w=300&q=100" alt="">
        </div>
        Jake Wood
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/py6lKiBQ7_static_user_Hyj2t8s2Q-EDAAC361-EF95-4641-9F0B-70E854A79976.jpg?h=360&w=300&q=100" alt="">
        </div>
        Kate Flannery
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/6huWuKhJf_ctyp_Koechner.jpg?h=360&w=300&q=100" alt="">
        </div>
        David Coachner
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/Wn1nNF-A-FEDF2DD6-8667-4F22-8587-89D527E692C1.jpg?h=360&w=300&q=100" alt="">
        </div>
        Oscar Nunez
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/UBhJuUnXc_P7x2KzmoD.jpg?h=360&w=300&q=100" alt="">
        </div>
        Brian Baumgartner
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/x48Heyf7i_avatar-hpinXTlh8.jpg?h=360&w=300&q=100" alt="">
        </div>
        Josh Radnor
      </td>
    </tr>
  </table>
</section>
<section class="home-cards">
<h2>Lonely buddies</h2>
  <table>
    <tr>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/TxPxcfzwn_avatar-C86StPZ5K.jpg?h=360&w=300&q=100" alt="">
        </div>
        Nigel Farage
      </td>
      <td>
        <div class="home-card">
          <img src="https://res.cloudinary.com/dr5brdsjq/image/upload/v1629898943/walter_iukrdb.jpg" alt="">
        </div>
        Boris
      </td>
      <td>
        <div class="home-card">
          <img src="https://res.cloudinary.com/dr5brdsjq/image/upload/v1629898943/walter_iukrdb.jpg" alt="">
        </div>
        Boris
      </td>
      <td>
        <div class="home-card">
          <img src="https://res.cloudinary.com/dr5brdsjq/image/upload/v1629898943/walter_iukrdb.jpg" alt="">
        </div>
        Boris
      </td>
      <td>
        <div class="home-card">
          <img src="https://res.cloudinary.com/dr5brdsjq/image/upload/v1629898943/walter_iukrdb.jpg" alt="">
        </div>
        Boris
      </td>
      <td>
        <div class="home-card">
          <img src="https://res.cloudinary.com/dr5brdsjq/image/upload/v1629898943/walter_iukrdb.jpg" alt="">
        </div>
        Boris
      </td>
    </tr>
  </table>
</section>
<section class="home-cards">
<h2>Lonely buddies</h2>
  <table>
    <tr>
      <td>
        <div class="home-card">
          <img src="https://res.cloudinary.com/dr5brdsjq/image/upload/v1629898943/walter_iukrdb.jpg" alt="">
        </div>
        Boris
      </td>
      <td>
        <div class="home-card">
          <img src="https://res.cloudinary.com/dr5brdsjq/image/upload/v1629898943/walter_iukrdb.jpg" alt="">
        </div>
        Boris
      </td>
      <td>
        <div class="home-card">
          <img src="https://res.cloudinary.com/dr5brdsjq/image/upload/v1629898943/walter_iukrdb.jpg" alt="">
        </div>
        Boris
      </td>
      <td>
        <div class="home-card">
          <img src="https://res.cloudinary.com/dr5brdsjq/image/upload/v1629898943/walter_iukrdb.jpg" alt="">
        </div>
        Boris
      </td>
      <td>
        <div class="home-card">
          <img src="https://res.cloudinary.com/dr5brdsjq/image/upload/v1629898943/walter_iukrdb.jpg" alt="">
        </div>
        Boris
      </td>
      <td>
        <div class="home-card">
          <img src="https://res.cloudinary.com/dr5brdsjq/image/upload/v1629898943/walter_iukrdb.jpg" alt="">
        </div>
        Boris
      </td>
    </tr>
  </table>
</section>
