<div class="banner">
  <div class="banner-fade">
    <h1 id="banner-typed-text"></h1>
    <p>The better way to make friends</p>
    <button>
      <%= link_to "Browse buddies", profiles_path %>
    </button>
  </div>
</div>
<section class="home-cards">
<h2>Lonely buddies</h2>
  <table>
    <tr>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/v-lqb3m4U_Jb--leo.png?h=360&w=300&q=100" alt="">
        </div>
        Jordan Belfort
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/4nEUBFeVG_avatar--HPX4iUtK.jpg?h=360&w=300&q=100" alt="">
        </div>
        Tom Felton
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/lKiYhi9ZM_avatar-hsuBQ9_51.jpg?h=360&w=300&q=100" alt="">
        </div>
        Paul Chuckle
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/7_mq7IBFC_avatar-i3Hi5yARw.jpg?h=360&w=300&q=100" alt="">
        </div>
        DJ Steves
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/NMpRrXwfw_avatar-yoj9Dv_-D.jpg?h=360&w=300&q=100" alt="">
        </div>
        Basil Brush
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/CQyiQ7_0x_avatar-_p_dlGH-z.jpg?h=360&w=300&q=100" alt="">
        </div>
        Tim Wannacoat
      </td>
    </tr>
  </table>
</section>
<section class="home-cards">
<h2>Loveable buddies</h2>
  <table>
    <tr>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/Cm4ZUPG3l_avatar-kAu4gnnsE.jpg?h=360&w=300&q=100" alt="">
        </div>
        Jake Wood
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/py6lKiBQ7_static_user_Hyj2t8s2Q-EDAAC361-EF95-4641-9F0B-70E854A79976.jpg?h=360&w=300&q=100" alt="">
        </div>
        Kate Flannery
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/6huWuKhJf_ctyp_Koechner.jpg?h=360&w=300&q=100" alt="">
        </div>
        David Coachner
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/Wn1nNF-A-FEDF2DD6-8667-4F22-8587-89D527E692C1.jpg?h=360&w=300&q=100" alt="">
        </div>
        Oscar Nunez
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/UBhJuUnXc_P7x2KzmoD.jpg?h=360&w=300&q=100" alt="">
        </div>
        Brian Baumgartner
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/x48Heyf7i_avatar-hpinXTlh8.jpg?h=360&w=300&q=100" alt="">
        </div>
        Josh Radnor
      </td>
    </tr>
  </table>
</section>
<section class="home-cards">
<h2>Funny Buddies</h2>
  <table>
    <tr>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/TxPxcfzwn_avatar-C86StPZ5K.jpg?h=360&w=300&q=100" alt="">
        </div>
        Nigel Farage
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/avatar-Y0PudBtZ.jpg?h=360&w=300&q=100" alt="">
        </div>
        Robert Maschio
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/qdMWPQ3Mh_avatar-kHxqd13JV.jpg?h=360&w=300&q=100" alt="">
        </div>
        Antoine Dodson
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/M1F9IgnmV-443b592d-d929-4416-97fd-eb500ea8421f.jpg?h=360&w=300&q=100" alt="">
        </div>
        Shondrella Avery
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/L0M5PiC~l_F37n1RxA0_IMG_20180418_150102_625.jpg?h=360&w=300&q=100" alt="">
        </div>
        Al Foran
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/NxadGsJK8_41b09c6e-e1f5-4cdd-879d-a9df3aaeab1b.jpg?h=360&w=300&q=100" alt="">
        </div>
        Divina McCall
      </td>
    </tr>
  </table>
</section>
<section class="home-cards">
<h2>Crazy Buddies</h2>
  <table>
    <tr>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/TxPxcfzwn_avatar-C86StPZ5K.jpg?h=360&w=300&q=100" alt="">
        </div>
        Nigel Farage
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/6huWuKhJf_ctyp_Koechner.jpg?h=360&w=300&q=100" alt="">
        </div>
        David Koechner
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/eXd1nD-o-D51EDB07-DA20-4F29-A83E-A18DC7E40DF0.jpg?h=360&w=300&q=100" alt="">
        </div>
        Kevin Dillon
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/2X9UjdUJE_avatar-ByF0nr0jm.jpg?h=360&w=300&q=100" alt="">
        </div>
        Jeremy Piven
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/SXM4_YLpO_avatar-BkyMS81Nm.jpg?h=360&w=300&q=100" alt="">
        </div>
        Melora Hardin
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/i-QwnBgYB_avatar-gEyofJlcD.jpg?h=360&w=300&q=100" alt="">
        </div>
        Jc Currais
      </td>
    </tr>
  </table>
</section>
<section class="home-cards">
<h2>Stupid Buddies</h2>
  <table>
    <tr>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/ye-svbYth_avatar-2NCk_Jsgd.jpg?h=360&w=300&q=100" alt="">
        </div>
        Jolie Jenkins
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/rxr9Mjaw5_ScreenShot2021-05-18at1.47.29PM.png?h=360&w=300&q=100" alt="">
        </div>
        Elliott Gould
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/ZFIcouZOM_MV5BZGE3Yzg2NjItZmJiNC00YjYyLTg1MjAtZWFlMDMxMWYxN2IxXkEyXkFqcGdeQXVyMTkxNDA5NDI._V1_SY1000_SX1500_AL_.jpg?h=360&w=300&q=100" alt="">
        </div>
        Carmen Christopher
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/static/user/HyTThTtCX-019D387C-3F1F-482A-B0D2-06F055915C22.jpg?h=360&w=300&q=100" alt="">
        </div>
        Aunt Mary Pat
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/Cr7GVUDMi_avatar-m-atM0_Z8.jpg?h=360&w=300&q=100" alt="">
        </div>
        Davis McIntyre
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/E_mweFIMh_avatar-uf7wYm7bE.jpg?h=360&w=300&q=100" alt="">
        </div>
        Stefan Gerrman
      </td>
    </tr>
  </table>
</section>
<section class="home-cards">
<h2>Musical Buddies</h2>
  <table>
    <tr>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/P2iMcamDw_ScreenShot2020-04-23at11.25.07AM.png?h=360&w=300&q=100" alt="">
        </div>
        Tim Cappello
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/static/user/rkDkgX42W_218-Retouched.png?h=360&w=300&q=100" alt="">
        </div>
        Tay Zonday
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/cwIgCPHwX_avatar-aGqDGce7B.jpg?h=360&w=300&q=100" alt="">
        </div>
        Sara Niemietz
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/TG9Mql_n8_E6DD3D77-4893-4B94-8BE7-337B0B4065DD.png?h=360&w=300&q=100" alt="">
        </div>
        William DuVall
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/sJnS4BCde_ScreenShot2021-02-11at3.03.37PM.png?h=360&w=300&q=100" alt="">
        </div>
        Brad Arnold
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/E_mweFIMh_avatar-uf7wYm7bE.jpg?h=360&w=300&q=100" alt="">
        </div>
        Luke Holland
      </td>
    </tr>
  </table>
</section>
<section class="home-cards">
<h2>Artistic Buddies</h2>
  <table>
    <tr>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/0TDDMy6rs_avatar-RUiBbw9Bm.jpg?h=360&w=300&q=100" alt="">
        </div>
        Lena Scissorhands
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/U2JjjB3Wo_avatar-hqWogBWId.jpg?h=360&w=300&q=100" alt="">
        </div>
        Nosebleed Fitz
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/p0xbvhXL9_avatar-wlOS6A6lG.jpg?h=360&w=300&q=100" alt="">
        </div>
        Charlie Starr
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/MPKEbXl_h_avatar-TpXS3lqww.jpg?h=360&w=300&q=100" alt="">
        </div>
        Taylor Dayne
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/sJnS4BCde_ScreenShot2021-02-11at3.03.37PM.png?h=360&w=300&q=100" alt="">
        </div>
        Brad Arnold
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/k4TOrXVpz_avatar-So4ov4-P4.jpg?h=360&w=300&q=100" alt="">
        </div>
        Eddie Levert
      </td>
    </tr>
  </table>
</section>
<section class="home-cards">
<h2>Awkward Buddies</h2>
  <table>
    <tr>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/BU2GP7bVsF_avatar-k_hTIeJ85.jpg?h=360&w=300&q=100" alt="">
        </div>
        Chuck Leavell
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/avatar-N6I6TFMB.jpg?h=360&w=300&q=100" alt="">
        </div>
        Cyrina Fiallo
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/avatar-CmwSYgQQl.jpg?h=360&w=300&q=100" alt="">
        </div>
        Caleb Marshall
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/AoKRNlTDo-F9269BAC-733B-482D-B1E1-18A4E6D27394.jpg?h=360&w=300&q=100" alt="">
        </div>
        Master Gee
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/atbwAFy5R_avatar-nfbiMd5dY.jpg?h=360&w=300&q=100" alt="">
        </div>
        Rotimi
      </td>
      <td>
        <div class="home-card">
          <img src="https://d31wcbk3iidrjq.cloudfront.net/avatar-FLYnDYIJ.jpg?h=360&w=300&q=100" alt="">
        </div>
        Rellik the Clown
      </td>
    </tr>
  </table>
</section>
