@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
.banner {
  width: 100vw;
  height: 95vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("banner.jpg");
  background-repeat: no-repeat, repeat;
  background-position: 50% 50%;
  background-size: cover;
  h1 {
    font-size: 7.43rem;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #ffffff;
  }
  p {
    font-size: 1.73rem;
    color: #ffffff;
  }
  button {
    border-radius: 50px;
    border: 1px solid #ffffff50;
    background-color: transparent;
    height: 60px;
    width: 200px;
    color: #ffffff;
    font-size: 20px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
}
