.pink-button {
  background-color: #ff385c99;
  color: white;
  margin: 16px 0px;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 10px;
}

.pink-button:hover {
  background-color: #ff385c;
  color: white;
}

.white-button {
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #ff385c;
  color: #ff385c;
  font-size: 16px;
  padding: 8px 16px;
  // margin: 24px 0px;
  a {
    text-decoration: none;
    font-weight: 300;
    color: #ff385c;
  }
}

.white-button:hover {
  background-color: transparent;
  border: 1px solid #ff385c;
  color: #ff385c;
}
