@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  font-family: Inter, sans-serif;
}

nav {
  background-color: #ffffff;
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 2px 12px 4px #00000012;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  font-size: 20px;
  font-weight: 600;
  z-index: 100;
  #logo {
    color: #ff385c;
    font-family: "Bebas Neue", cursive;
    font-size: 36px;
    text-decoration: none;
  }
  .left-section {
    width: 400px;
  }
  .middle-section {
    width: 600px;
    input {
      width: 100%;
      height: 48px;
      -webkit-appearance: none;
      box-sizing: inherit;
      position: relative;
      margin-bottom: 0;
      border: 0;
      border-radius: 50px;
      font-size: 15px;
      background-color: #f7f7f8;
      text-indent: 0;
      color: #343538;
      outline: 0;
      box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.050980392156862744);
      padding: 0 0 0 24px;
      line-height: 22px;
      font-weight: 300;
    }
  }
  .right-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    font-size: 16px;
    font-weight: 300;
    .nav-btns {
      margin: 16px;
      text-decoration: none;
      a {
        text-decoration: none;
        color: #00000080;
      }
      a:hover {
        color: #ff385c;
      }
    }
    .avatar-large {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin: 16px;
    }
  }
}
