* {
  font-family: Inter, sans-serif;
}

nav {
  background-color: #ffffff;
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 2px 12px 4px #00000012;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  font-size: 20px;
  font-weight: 600;
  z-index: 100;
  #logo {
    color: #ff385c;
  }
  .right-section {
    display: flex;
    justify-content: flex-end;
    width: 40vw;
    font-size: 14.4px;
    font-weight: 300;
    .sign-up-btn,
    .login-btn {
      margin: 16px;
      text-decoration: none;
      color: black;
    }
  }
}
