* {
  font-family:  Inter, sans-serif;
}

nav {
  background-color: #ffffff;
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 2px 12px 4px #00000012;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  font-size: 20px;
  font-weight: 600;
  z-index: 100;
  #logo {
    color: #FF385C;
  }
  .right-section {
    display: flex;
    justify-content: flex-end;
    width: 40vw;
    font-size: 14.4px;
    font-weight: 300;
    .sign-up-btn,
    .login-btn {
      margin: 16px;
    }
  }
}

body {
  margin-top: 80px;
  .profiles-page {
    display: flex;
    h1 {
      font-size: 24px;
      font-weight: 300;
      margin: 24px 0px 24px 16px;
    }
    .profiles {
      background-color: #fff;
      padding: 16px;
      color: #000;
      ul {
        list-style-type: none;
        padding: 0px;
      }
      li {
        border-top: 1px solid #e1e1e1;
        padding: 16px;
        display: flex;
        font-family: Inter, sans-serif;
        .image-wrapper {
          height: 200px;
          width: 300px;
          background-color: #f7f7f8;
          border-radius: 12px;
          margin-right: 16px;
        }
        a {
          color: #000;
          text-decoration: none;
          font-weight: 300;
        }
        p {
          color: #000;
        }
      }
    }
    .map {
      background-color: #f7f7f8;
      position: sticky;
      height: 100vh;
      top: 80px;
    }
  }
}

.profile-details {
  font-weight: 300;
  font-size: 14.4px;
  h2 {
    font-size: 18px;
    font-weight: 300;
    font-family: Inter, sans-serif;
  }
}
